<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Goorm K8S Members</title>

</head>

<body>

    <div>

        <h1 style="display: inline-block"><a href="/">  Goorm K8S Course</a>  Review  </h1> <h1 style="color:pink; display: inline-block;">  Blogs  </h1>

    </div> 

    <div>

        <img src="{{url_for('static', filename='sky.jpg')}}"width="600" height="400">

    </div>

    <div>

        <p>

            Are you a member of the Goorm Kubernetes Course ?

        </p>

        <a href="register">

            REGIST

        </a>

        <br></br>

        <a href="login">

            LOGIN

        </a>

     <h4>Blog List</h4>

        <table class="table" style = "word-break:break-all" style="table-layout: fixed">

            <thread>

                <th>#</th>

                <th>Member</th>

                <th>URL</th>

            </thread>

            {% for row in rows %}

            <tr>

                <td>{{ loop.index }}</td>

                <td>{{ row["name"] }}</td>

                <td><a href="{{ row["url"] }}" target="_blank">Go to {{ row["name"] }} Blog</a></td>

            </tr>

            {% endfor %}

        </table>

    </div>

</body>

</html>