<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South Park Fan Page</title>
</head>
<body>
    <div>
        <h1 style="display: inline-block"><a href="/">This web page</a> is only for people who love</h1> <h1 style="color:pink; display: inline-block;">SOUTH PARK</h1>
    </div> 
    <form action="" method="post">
        <p>ID : <input type="text" id = "username" name="username"></p>
        <p>PWD : <input type="password" id = "password" name="password"></p>
        <p>
            Please input your ID and Password for registering and click the button below<br>
            <input type="submit" value="SUBMIT">
        </p>
    </form>
</body>
</html>